.container {
	margin-top: 39px;
	border: solid 1px black;
	padding-top: 30px;
	padding-bottom: 30px;
}

.formData {
	display: flex;
}
#facturaCliente {
	display: flex;
	justify-content:space-between;
}
#facturaCliente #clientInfo {
	text-align: left;
}
#facturaCliente #detalleFact {
	text-align: right;
}